+++
title = "About"
date = 2018-06-01T15:41:05-07:00
+++

<h1>Me</h1>

My story is chronicled on the <a href="/">home</a> page.

<h1>Links</h1>

<ul class="about">
    <li class="svg-icon"><a href="https://gitlab.com/aatron" target="_blank"><i class="fab fa-gitlab" ></i>Code</a></li>
    <li class="svg-icon"><a href="https://github.com/aatron" target="_blank"><i class="fab fa-github" ></i>More code</a></li>
    <li class="svg-icon"><a href="/feeds/blog.xml"><i class="fas fa-rss" ></i>Blog Posts RSS Feed</a></li>
    <li class="svg-icon"><a href="/feeds/review.xml"><i class="fas fa-rss" ></i>Review RSS Feed</a></li>
</ul>

<h1>Questions</h1>

<label class="maq-question">Why is the site named 'almost a feature?'</label>
<p class="maq-answer">All research & development is almost a feature. Also, I review documentaries which are almost feature films.</p>

<label class="maq-question">Why don't you allow comments on your blog posts and reviews?</label>
<p class="maq-answer">Not a fan. For questions, please create an <a href="https://gitlab.com/aatron/almostafeature/issues">issue</a>. To correct error(s) in code, please create a <a href="https://gitlab.com/aatron/almostafeature/merge_requests">Merge Request</a> and I'll give you credit in the updated post.</p>

<label class="maq-question">You're amazing....the best! How can I get a hold of you?!</label>
<p class="maq-answer">Send me an email: hello <b>at</b> almostafeature <b>dot</b> com </p>

<label class="maq-question">You're the worst. You need to be rebuked in a strongly worded haiku.</label>
<p class="maq-answer">Send me an email: lowpriority <b>at</b> almostafeature <b>dot</b> com </p>

<h1>Disclaimer</h1>

<p class="disclaimer">This is a personal blog. The views expressed are my own and not of my employer. No one else can take credit for my coding aberrations.