+++
title = "Maybe Asked Questions"
date = 2018-06-09T10:42:58-07:00
+++

<label class="maq-question">Why don't you allow comments on your blog posts and reviews?</label>
<p class="maq-answer">Not a fan. For questions, please create an <a href="https://gitlab.com/aatron/blog-hugo/issues">issue</a>. To correct error(s) in code, please create a <a href="https://gitlab.com/aatron/blog-hugo/merge_requests">Merge Request</a> and I'll give you credit in the updated post.</p>

<label class="maq-question">You're amazing....the best! How can I get a hold of you?!</label>
<p class="maq-answer">Send me an email: aaron <b>at</b> aaronschaefer <b>dot</b> com </p>

<label class="maq-question">You're the worst. You need to be rebuked in a strongly worded haiku.</label>
<p class="maq-answer">Send me an email: lowpriority <b>at</b> aaronschaefer <b>dot</b> com </p>