{{ partial "top.html" . }}
{{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
<div class="articles-list">
    {{ range $paginator.Pages }}
    <article>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    </article>
    {{ end }}
</div>
{{ template "_internal/pagination.html" . }}
{{ partial "bottom.html" . }}
