{{ partial "top.html" . }}
<h1>{{ .Title }}</h1>

<article>
    {{ .Content }}
</article>

<h4>{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).datepublished }} {{ dateFormat "01/02/2006" .Date }}</h4>
{{ partial "notemployer.html" . }}
{{ partial "bottom.html" . }}
