{{ partial "header.html" . }}


<main role="main" class="article-list">
  <review-list id="reviewList" class="article-list">
      {{ range .Data.Pages }}
        {{ partial "article-list-review.html" . }}
      {{ end }}
    </review-list>
</main>

 <script type="text/javascript">

 </script>
{{ partial "footer.html" . }}

