<nav class="col-md-3">
        <h3 class="home-link"><a href="{{ index .Site.Params "rootlink" | default .Site.BaseURL }}">Aaron Schaefer</a></h3>
        <div id="last-posts" class="open">
            <h3 data-open="last-posts">Blog posts</h3>
            <ul class="categories">
                {{ $currentPage := . }}
                {{ range first 10 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "blog") }}
                    <li class="svg-icon {{if eq $currentPage.Title .Title }} active{{end}}"><a href="{{.Permalink}}">{{.Title}}</a></li>
                {{ end }}
                <li class="svg-icon"><a href="/blog"><i class="fas fa-book" ></i>Archived Posts</a></li>
            </ul>
        </div>



        <div id="reviews" class="open">
            <h3>Review</h3>
            <ul class="reviews">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.review }}
                        {{ if .HasChildren }}
                            <li class="{{if eq $currentPage.Title .Title }} active{{end}}">
                                yo
                                <a href="#">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                            <ul class="sub-menu">
                                    {{ range .Children }}
                                    <li class="{{if eq $currentPage.Title .Title }} active{{end}}">
                                        <a href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ else }}
                            <li class="{{if eq $currentPage.Title .Title }} active{{end}}">
                                    
                                <a class="svg-icon" href="{{ .URL }}">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}

                <li class="svg-icon"><a href="/review"><i class="fas fa-search" ></i>Search Reviews</a></li>
                </ul>



        </div>
        <div id="me" class="open">
            <h3 data-open="me">Me</h3>
            <ul class="categories">
                <li class="svg-icon {{if eq $currentPage.Title "About" }} active{{end}}"><a href="/about"><i class="fas fa-user-circle" ></i>About</a></li>
                <li class="svg-icon"><a href="https://gitlab.com/aatron" target="_blank"><i class="fab fa-gitlab" ></i>Code</a></li>
                <li class="svg-icon"><a href="https://github.com/aatron" target="_blank"><i class="fab fa-github" ></i>More code</a></li>
            </ul>
        </div>
        <div id="site" class="open">
            <h3 data-open="site">Site</h3>
            <ul class="categories">
                <li class="svg-icon {{if eq $currentPage.Title "Thanks" }} active{{end}}"><a href="/thanks"><i class="fas fa-heart" ></i>Attribution</a></li>
                <li class="svg-icon {{if eq $currentPage.Title "Maybe Asked Questions" }} active{{end}}"><a href="/maq"><i class="fas fa-question-circle" ></i>MAQ</a></li>
                <li class="svg-icon"><a href="/post/index.xml"><i class="fas fa-rss" ></i>Blog Posts RSS Feed</a></li>
                <li class="svg-icon"><a href="/review/index.xml"><i class="fas fa-rss" ></i>Reviews RSS Feed</a></li>
            </ul>
        </div>
    </div>
</nav>
