{{ partial "top.html" . }}
{{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
<p>Boy uses a computer.
<p>Boy bricks a computer.
<p>Boy compiles code.
<p>Boy debugs code.
<p>Boy writes code in high school.
<p>Boy goes to college...plot twist...he never knew how to code.
<p>Boy learns how to be a software developer.
<p>Man gets a job.
<p>Man realizes he needs to be continuously learning.
<p>Man has a career.
<p>Man gets married and finally knows happiness.
<p>Man discovers the power of documentaries.
<p>Man has children and truly knows joy.
<p>Man has interests that include Machine Learning, Polyglot Persistence, and Serverless Computing.
<p>Man is much more than the sum of the steps in his journey.
{{ partial "bottom.html" . }}
