<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
{{ if isset . "Description" }}
<meta name="description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
{{ end }}
<title>{{ .Title }}</title>
{{ .Hugo.Generator }}
{{ partial "highlightjs.html" }}
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


<link  href="{{ .Site.BaseURL }}/css/theme-70f4f7d026fff46ee240144f28c67d656df731ae.min.css" rel="stylesheet" type="text/css">
