{{ partial "header.html" . }}
<main role="main" class="article-list">
  {{ if (hasPrefix .Page.URL "/tags/") }}
    <h1 class="list-title" >Tag: {{ .Title }}</h1>
  {{ else }}
    <h1 class="list-title" >{{ .Title }}</h1>
  {{ end }}
  {{ range .Data.Pages }}
    {{ partial "article-list-item.html" . }}
  {{ end }}
</main>
{{ partial "footer.html" . }}


