<article class="list-item" itemscope itemtype="http://schema.org/Blog">
  <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
  <div class="meta">
{{ if not .Date.IsZero }}
    <span class="key">published on</span>
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ end }}
  </div>
  <section class="summary">
    {{if isset .Params "description" }}
      {{ .Params.description }}<a href="{{ .RelPermalink }}">Read More...</a>
    {{ else }}
      {{ .Summary }} {{ if .Truncated }} <a href="{{ .RelPermalink }}">Read More...</a>{{ end }}
    {{ end }}
  </section>
  <div class="tags">
      {{ range .Params.tags }}
      <div class="parallelogram">
        <div class="parallelogram-reverse">
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ replace . "-" " "}}</a>
        </div>
      </div>
      {{ end }}
      <div style="clear: both"></div>
    </div>
</article>
