{{ $page := .Page }}


<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta">
    {{ if not .Page.Date.IsZero }}
    <span class="key">published on</span>
    <span class="val"><time itemprop="datePublished"
        datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
    {{ end }}
    {{ with .Params.categories }}
    <span class="key">{{ if $page.Date.IsZero }}published {{ end }}in</span>
    <span class="val">
      {{ range . }}
      <a href="{{ . | printf "categories/%s" | relURL | lower }}">{{ replace . "-" " "}}</a>
      {{ end }}
    </span>
    {{ end }}
    {{ with .Params.tags }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
      {{ range . }}
      <a href="{{ . | printf "tags/%s" | relURL | lower }}">{{ replace . "-" " "}}</a>
      {{ end }}
    </span>
    {{ end }}
  </div>
  {{ if isset .Params "thumbnailimageurl"}}
  <img src="{{ .Params.thumbnailimageurl }}" alt="{{ .Params.thumbnailimagealt }}" class="image-thumbnail" />
  {{end}}
  <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
  {{$imageurl := ""}}
  {{if isset .Params "imageurl"}}
  {{$imageurl := .Params.imageurl}}
  {{$imagealt := .Params.imagealt}}
  <figure class="section-image">
    <img src="{{$imageurl}}" alt="{{$imagealt}}" />
  </figure>

  {{end}}
  <section class="body" itemprop="articleBody">

    {{ .Content }}
  </section>
  <div class="image-attribution">
    {{$imageattrlabel := .Params.imageattrlabel}}
    {{$imageattrurl := .Params.imageattrurl}}
    <figcaption>image attribution: <a href="{{$imageattrurl}}" target="_blank">{{$imageattrlabel}}</a></figcaption>
  </div>
</article>
