
    <review-item class="list-item meta" itemscope title="{{ .Title }}{{ if .Draft }} (Draft){{ end }}" href="{{ .RelPermalink }}" reviewedOn="{{ .Date.Format "January 02, 2006" }}" recommend="Yes" type="{{ .Params.reviewType }}" summary="{{ .Summary }}" truncatedSummary="{{ .Truncated }}" slot="item-slot">
        <div class="meta link-container" slot="all-links">
          <div class="tags">
            {{ range .Params.tags }}
            <div class="parallelogram">
              <div class="parallelogram-reverse">
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . | replace "-" " "}}</a>
              </div>
            </div>
            {{ end }}
            <div style="clear: both"></div>
          </div>
        </div>
    </review-item>

