<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
  {{- with $.Param "keywords" }}
  <meta name="keywords" content="{{ delimit . "," }}">
  {{- end }}
  {{- with $.Param "author" }}
  <meta name="author" content="{{ . }}">
  {{- end }}
  {{ .Hugo.Generator }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "css/style-65b94b8b39d55fd140f3bc7d50c983ded33f4de3.min.css" | relURL }}"
    type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css">
  <link rel="alternate" href="{{ "index.xml" | relURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <style>
    .link-container {

      grid-template-columns: auto 150px;
      grid-auto-rows: minmax(100px, auto);
      margin: 15px 0px 0px 0px;
    }

    .tags {
      grid-column: 1;
      grid-row: 1;

      list-style-type: none;
      margin: 20px 0px 0px 0px;
    }

    .tags>.parallelogram {
      background-color: #d27b53;

      height: 20px;
      padding: 5px 10px;
      position: relative;
      width: auto;
      float: left;
      margin: 0px 5px 5px 0px;

      border-radius: 10px;

      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg);
    }

    .tags>.parallelogram>div {
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      transform: skew(20deg);
    }

    .tags>.parallelogram a {
      color: #393939;
      font-size: 14px;
    }

    /* .links {
        grid-column: 2;
        grid-row: 1;

        list-style-type: none;
        float: right;
        position: relative;
    }

    .links > div {
      position: relative;
      float: left;
    }

    .links > div > div {
        float: right;
        width: 20px;
    } */

  </style>

  <template id="list">
    <div>
      <slot name="item-slot"></slot>
    </div>
  </template>

  <template id="item">
    <style>
      .base00 {
        color: #2d2d2d;
      }

      .base01 {
        color: #393939;
      }

      .base02 {
        color: #515151;
      }

      .base03 {
        color: #747369;
      }

      .base04 {
        color: #a09f93;
      }

      .base05 {
        color: #d3d0c8;
      }

      .base06 {
        color: #e8e6df;
      }

      .base07 {
        color: #f2f0ec;
      }

      .base08 {
        color: #f2777a;
      }

      .base09 {
        color: #f99157;
      }

      .base0a {
        color: #ffcc66;
      }

      .base0b {
        color: #99cc99;
      }

      .base0c {
        color: #66cccc;
      }

      .base0d {
        color: #6699cc;
      }

      .base0e {
        color: #cc99cc;
      }

      .base0f {
        color: #d27b53;
      }

      article {
        background-color: #f2f0ec;
        color: #2d2d2d;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      @media (max-width: 52em) {
        article {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      /* Post List Layout */

      article {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
      }

      article h2.headline,
      article h2.headline a,
      h2,
      h2 a {
        margin-top: 0;
        margin-bottom: 12px;
        color: #6699cc;
      }

      article .meta {
        margin-bottom: 1rem;
      }

      article .key {
        color: #747369;
        margin: 20px 0px;
      }

      article .val,
      article .val a {
        color: #cc99cc;
      }

      article section.summary {
        margin-top: 12px;
      }

      article section.summary a {
        color: #d27b53;
      }





      .item-container {

        grid-template-columns: auto 100px;
        grid-template-rows: auto auto;
      }

      .title {
        grid-column-start: 1;
        grid-row-start: 1;
      }

      .title h2 {
        margin-bottom: 0px;
      }

      #title {
        margin-bottom: 0px;

      }

      #type {
        grid-column-start: 2;
        grid-row: 1;
        margin-top: 5px;
        text-align: right;
        float: right;
      }

      .second-row {
        grid-column: 1 / span 2;
        grid-row-start: 2;
        text-align: left;
      }

    </style>

    <article class="item-container list-item" itemscope itemtype="http://schema.org/Blog">
      <small id="type"></small>
      <div class="title">
        <h2 class="headline"><a id="title"></a></h2>

        <span class="key">published on</span>
        <span class="val"><time itemprop="datePublished" id="reviewedOn"></time></span>
      </div>
      <section class="summary"></section><a id="more" hidden href="{{ .RelPermalink }}">Read More...</a>
      <div class="second-row">
        <slot name="all-links" />
      </div>
    </article>
  </template>

  <script src="{{ "js/theme-f15caff820652c4ec0c98fdd450e688a4eda370d.min.js" | relURL }}"></script>
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} -
    {{ .Site.Title }}{{ end }}</title>
</head>

<body>

  <header>
    <div class="container clearfix">
      {{ $currentPage := . }}
      {{ $isBlog := eq .Section "blog" }}
      {{ $isReview := eq .Section "review" }}
      {{ $isTag := eq .Section "tags" }}
      {{ .Scratch.Set "isTagReview" false }}

      {{ range .Data.Pages }}
      {{ $.Scratch.Set "currentPage" . }}
      {{$innerPage := .}}

      {{range $innerPage.Params.tags }}

      {{ $.Scratch.Set "currentTag" . }}
      {{ if eq ($.Scratch.Get "currentTag") $currentPage.Title }}
      {{$cleanDir := trim $innerPage.Dir "\\"}}
      {{if eq $cleanDir "review"}}
      {{ $.Scratch.Set "isTagReview" true }}
      {{ else }}
      {{ $.Scratch.Set "isBlogReview" true }}
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}


      {{if eq $currentPage.Title "Almost a Feature" }}<label class="base0a">[home]</label>{{else}}<a class="path"
        href="{{ .Site.BaseURL }}">[home]</a>{{end}}
      {{if eq $currentPage.Title "Blogs" }}<label
        class="base0a">[blog]</label>{{else if or ($isBlog) ($.Scratch.Get "isBlogReview")}}<label
        class="base0a">[</label><a class="path" href="/blog">blog</a><label class="base0a">]</label>{{else}}<a
        class="path" href="/blog">[blog]</a>{{end}}
      {{if eq $currentPage.Title "Reviews" }}<label
        class="base0a">[review]</label>{{else if or ($isReview) ($.Scratch.Get "isTagReview")}}<label
        class="base0a">[</label><a class="path" href="/review">review</a><label class="base0a">]</label>{{else}}<a
        class="path" href="/review">[review]</a>{{end}}
      {{if eq $currentPage.Title "About" }}<label class="base0a">[about]</label>{{else}}<a class="path"
        href="/about">[about]</a>{{end}}
      {{if eq $currentPage.Title "Thanks" }}<label class="base0a">[attribution]</label>{{else}}<a class="path"
        href="/thanks">[attribution]</a>{{end}}
    </div>
  </header>

  <div class="container">
