{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  <h4 class="headline base0a fade frame-1">Boy uses a computer.</h4>
  <h4 class="headline base0a fade frame-2">Boy bricks a computer.</h4>
  <h4 class="headline base0a fade frame-3">Boy compiles code.</h4>
  <h4 class="headline base0a fade frame-4">Boy debugs code.</h4>
  <h4 class="headline base0a fade frame-5">Boy writes code in high school.</h4>
  <h4 class="headline base0a fade frame-6">Boy goes to college...plot twist...he never knew how to code.</h4>
  <h4 class="headline base0a fade frame-7">Boy learns how to be a software developer.</h4>
  <h4 class="headline base0a fade frame-8">Man gets a job.</h4>
  <h4 class="headline base0a fade frame-9">Man realizes he needs to be continuously learning.</h4>
  <h4 class="headline base0a fade frame-10">Man has a career.</h4>
  <h4 class="headline base0a fade frame-11">Man gets married and finally knows happiness.</h4>
  <h4 class="headline base0a fade frame-12">Man discovers the power in documentaries.</h4>
  <h4 class="headline base0a fade frame-13">Man has children and truly knows joy.</h4>
  <h4 class="headline base0a fade frame-14">Man has interests that include Machine Learning, Polyglot Persistence, and
    Serverless Computing.</h4>
  <h4 class="headline base0a fade frame-15">Man is much more than the sum of the steps in his journey.</h4>
</main>
